/*General*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 16px;
}

#circle {
    display: block;
    margin-top: 30px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;    
}

a {
    color: #735195;   
}

/*Header*/

header h1 {
    text-align:center;
    font-family: josefin-sans, helvetica, sans-serif; 
    font-size: 35px;  
    font-weight: 800;
    padding: 10px 10px 10px 10px; /*TRouBLe */
    /*I decided to choose a font for my header that I didn't use anywhere else in order to make it distinctive.*/
}

header h2 {
    text-align:center;
    font-family: arapey, georgia, serif; 
    font-size: 18px;
    font-weight:400;
    padding: 0px;
}
    
header nav {
    text-align: center;
    font-size: 14px;
    font-family: cabin, helvetica, sans-serif;
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 10px 50px 4px 65px;
    border-top: 1px solid #cccccc; 
    border-bottom: 1px solid #cccccc;
    /*I thought the nav looked best with a simple, readable sans-serif.*/
}

.active {
    color: #000000
}

header a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration: none;  
}

header a:hover {
    color: #000000;   
}

/*Homepage*/

article {
    width: 90%;
    padding: 70px 0 0 0;
}

article h1 {
    font-size: 50px; 
    font-family: arapey, georgia, serif;
    font-weight: 900;
    line-height: 35px;
    width: 80%;
    margin-top: 4px;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 10%;
}

#right {
    display: block;
    font-size: 18px;
    font-family: arapey, georgia, serif;
    font-weight: 100;
    line-height: 24px;
    float: right;
    width: 50%;
    margin-top: 6px;
    margin-bottom: 30px;
}

#left {
    display: block;
    width: 40%; 
    float: left;
    padding: 10px 0px 10px 55px;
    margin-left: 5%;
}

/*Resume*/

section {
    width: 90%;
    padding: 70px 0 0 0;
}

section a {
    color: #aaaaaa;
}

section a:hover {
    color: #000000;   
}

/**I followed Professor Carlson's advice and changed my link color to make it a little more noticeable. I figured underlines would also help. **/

section h1 {
    font-size: 50px;
    font-family: arapey, georgia, serif; 
    line-height: 35px;
    width: 80%;
    margin-top: 4px;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 9.5%;
}

#justin {
    display: block;
    width: 43%; 
    float: left;
    padding: 10px 5px 20px 55px;
    margin-left: 5%
}

.experience {
    display: block;
    float: right;
    width: 50%;
    margin-top: 6px;
    /*I put the body of my resume into one class in order to control its placement on the page.*/
}

section h3 {
    width: 150%;
    font-family: arapey, georgia, serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 4px;
}

section h4 {
    font-family: arapey, georgia, serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
}

section h5 {
    font-family: arapey, georgia, serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px; 
    margin-bottom: 2px;
}

p {
    font-family: arapey, georgia, serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; 
}

p a {
    color: #735195;
   
}

p a:hover {
    color: #aaaaaa;
}

#download {
    clear: both;
    text-align:center;
    padding: 10px 0 30px 0;
}

#download p {
    font-size: 18px;
    font-weight: 400;
}

/*Clips*/
#what {
    font-size: 50px;
    font-family: arapey, georgia, serif; 
    line-height: 35px; 
    margin: 0 0 1% 23%;
}

#follow {
    font-size: 20px;
    font-family: arapey, georgia, serif; 
    font-size: 24px;
    margin: 1.5% 0 3% 24%;   
}

article a {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;  
}

article a:hover {
    color: #aaaaaa;   
}

/*I put each element (photo and text sections) into individual divs in order to float them to the right places.*/
#usalogo {
    margin-top: 0.5%;
    margin-left: 25%;
    float:left;
}

#usa { 
    height: 150px;
    width: 450px;
    padding: 15px;
    margin-right: 10%;
    float: right;
} 

#sandiegologo {
    margin-top: 3%;
    margin-left: 27%;
    float:left;
}

#sandiego {
    height: 150px;
    width: 450px;
    padding: 15px;
    margin-right: 10%;
    float: right;
}    

#gainesvillelogo {
    margin-top: 3%;
    margin-left: 24%;
    float:left;
}

#gainesville {
    height: 174px;
    padding: 15px;
    margin-top: 1%;
    margin-right: 8.5%;
    float: right;
}  

#gatorlogo {
    margin-top: 6%;
    margin-left: 24%;
    float:left;
}

#gator {
    height: 125px;
    margin-right: 10.5%;
    padding: 15px;
    float: right;
}  

/*Multimedia*/

.push
{margin-left:18%;}


.multi {
    height: 240px;
    width: 320px;
    float: left;
    margin-left: 300px;
    margin-bottom: 10px;
    
}

.multi:nth-child(3) {
    margin-left:35px;
    }

.caption {
    height: 240px;
    width: 320px;
    float: left;
    margin-left: 35px;
    margin-bottom: 10px;
    overflow: scroll;
    
}

.video {
    float: left;
    margin-left: 300px;
    padding: 0 0 50px 0;
}

/*Contact*/
#complicated {
    font-size: 50px; 
    line-height: 35px;
    text-align:left;
    width: 80%;
    margin-top: 4px;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-left: 23%;
}

ul {
    list-style:none;
    width: 47%;
    float:left;
    font-family: arapey, georgia, serif; 
    font-size: 40px;
    font-weight: 800;
    line-height: 35px;
    margin-left:3%;
    padding: 10px 0 0 20%;
}
/*I used an unordered list to essentially make a vertical nav.*/

li {
    border-top: 1px solid;
    border-color: #cccccc;
}

li a {
    color: #735195;
    text-decoration: none;  
}

/** I thought in this section, changing the color of the links was enough. Adding underlines would have looked odd with the design.**/

li a:hover {
    color: #aaaaaa;   
}
 
#last {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #cccccc;     
}

#contact {
    display: block;
    width: 55%; 
    float: right;
    margin-top: 0.75%;
    margin-right: -4%;
    margin-bottom: 2%;
    margin-left: 2%;
}

/*Footer*/

footer {
    clear: both;
    font-size: 12px;
    font-family: cabin, helvetica, sans-serif;
    padding: 30px 10px 25px 20px;
    text-align: center;
    border-top: 1px solid #cccccc; 
}

.socialmedia {
    margin: 0;   
}

footer a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration: none; 
}

footer img { 
    padding: 10px 0 30px 0px;
}

footer img + img {
    padding-left: 0px;
}
   
@media screen and (max-width: 600px) {

    header nav {
        font-size: 14px;
        padding: 0px;
    }
    
    article h1 {
        margin-left: 25%;
        
    }
    
    #left {
        width: 90%;  
    }
    
    #right {
        width: 77%;    
    }
    
    section h1 {
        margin-left: 13%;
        width: 100%;
        
    }
    
    #justin {
        width: 90%;   
    }
    
    .experience {
        width: 50%; 
        margin-right: 20%;
    }
    
    #download {
        width: 50%;
        margin-left: 25%;
    }
    
    #usa {
        width: 68%;
        height: 100%;
        clear: both;     
    }
    
    #sandiego {
        width: 67%;
        height: 100%;
        clear: both;
        
    }
    
    #gainesville {
        width: 67%;
        height: 1%;

    }
    
    #gator {
        width: 67%;
        height: 100%;
    }
    
    #complicated {
        width: 100%;
        margin-left: 10%;
        
    }
    
   li {
        width: 235%;
        clear: both;
    }
    
    #contact {
        clear: both;
        width: 5%;
        margin-right: 95%;
    }