* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}

#circle {
    display: block;
    margin-top: 30px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;    
}

header h1 {
    text-align:center;
    font-family: helvetica, arial, sans-serif; 
    font-size: 35px;  
    font-weight: 400;
    padding: 10px 10px 10px 10px; /*TRouBLe */
}

header h2 {
    text-align:center;
    font-family: helvetica, arial, sans-serif; 
    font-size: 18px;
    font-weight:300;
    padding: 0px;
}
    
header nav {
    text-align: center;
    margin-top: 50px;
    padding: 4px 50px 4px 65px;
    border-top: 1px solid #cccccc; 
    border-bottom: 1px solid #cccccc;
}

#active {
    color: #000000
}

header a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration: none;  
}

header a:hover {
    color: #000000;   
}


article {
    width: 80%;
    padding: 70px 0 0 0;
}

article h1 {
    font-size: 36px; 
    line-height: 35px;
    width: 80%;
    margin-top: 4px;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 55px;
}

#right {
    display: inline;
    font-size: 18px; 
    line-height: 24px;
    float: right;
    width: 60%;
    margin-top: 6px;
}

#left {
    display: block;
    width: 20%; 
    float: left;
    padding: 10px 0px 20px 55px;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}

footer {
    clear: both;
    font-size: 12px;
    padding: 30px 10px 25px 10px;
    text-align: center;
    border-top: 1px solid #cccccc; 
}

footer a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration: none; 
}

footer img { 
    padding: 5px 0 30px 0px;
}

footer img + img {
    padding-left: 0px;
}

    
    
@media screen and (max-width: 500px) 
    {
    header nav {
        font-size: 14px;
        padding: 0px;
    }